*{
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}
body {
  margin: 5px 10px 10px;
  text-align: center;
}
#root{
  margin: 10px;
  padding: 10px;
  border: 2px solid #53637D;
  border-radius: 20px;
}
#dowland{
  width: 80%;
  border: none;
  min-height: 40px;
  border-radius: 20px;
  background-color: #3cb46a;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
#dowland:hover{
  background-color: tomato;
}
#form{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
#apply{
  width: 27%;
  border: none;
  min-height: 25px;
  border-radius: 4px;
  background-color: #3cb46a;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
#apply:hover{
  background-color: #3cb46aaa;
}
#input{
  width: 70%;
  border-radius: 4px;
  min-height: 25px;
  border: 2px solid #3cb46a;
  padding-left: 5px ;
}